.audio-note {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.answer {
    margin-top: 10px;
    font-size: 25px;
}

header {
    color: gray;
    margin-top: 35px;
    font-size: 18px;
    max-width: 70%;
}

footer {
    max-width: 90%;
    color: gray;
}

.audio-chord-module {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
}

.chord-row {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    margin-bottom: 30px;
}

.chord-item {
    border: none;
    cursor: pointer;
    height: 60px;
    width: 120px
}


.chord-item:hover {
    background-color: #e2e2e2;
}

.ref-wrap {
    margin-top: 40px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.chord-play-question {
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-top: 70px;
}

.play-question:hover {
    background-color: #e2e2e2;
}

@media screen and (max-width: 840px) {
    .question {
        font-size: 18px;
    }
    .checkAnswer {
        width: 252px;
        font-size: 15px;
    }
    header {
        font-size: 14px;
        text-align: center;
    }
    .audio-chord-module {
        margin-top: 0;
        flex-direction: row;
    }
    .chord-row {
        margin-top: 26px;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
    }
    .chord-item {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 560px) {
    .module-row {
        width: 350px;
    }
    .module-item {
        height: 42px;
        width: 42px;
    }
    .answer {
        font-size: 16px;
    }
}


@media screen and (max-width: 400px) {
    .question {
        font-size: 14px;
    }
    .checkAnswer {
        width: 200px;
        height: 44px;
        font-size: 12px;
    }
    .module-row {
        width: 300px;
        margin-bottom: 20px;
    }
    .module-item {
        height: 40px;
        width: 40px;
    }
}