.audio-note {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.answer {
    margin-top: 10px;
    font-size: 25px;
}

header {
    color: gray;
    margin-top: 35px;
    font-size: 18px;
    max-width: 70%;
}

footer {
    max-width: 90%;
    color: gray;
}

.audio-interval-module {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.interval-row {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin: 0 auto;
}

.interval-item {
    height: 60px;
    width: 100px;
    padding: 7px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}



.interval-item:hover {
    background-color: #e2e2e2;
}

.ref-wrap {
    margin-top: 40px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.interval-play-question {
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-top: 70px;
}

.interval-play-question:hover {
    background-color: #e2e2e2;
}

@media screen and (max-width: 840px) {
    .question {
        font-size: 18px;
    }
    .checkAnswer {
        width: 252px;
        font-size: 15px;
    }
    header {
        font-size: 14px;
        text-align: center;
    }
    .interval-row {
        width: 80%;
        flex-wrap: wrap;
    }
    .interval-item {
        height: 50px;
        width: 80px;
    }
    .audio-interval-module {
        margin-top: 20px;
    }
}

@media screen and (max-width: 560px) {
    .module-row {
        width: 350px;
    }
    .module-item {
        height: 42px;
        width: 42px;
    }
    .answer {
        font-size: 16px;
    }
}


@media screen and (max-width: 400px) {
    .question {
        font-size: 14px;
    }
    .checkAnswer {
        width: 200px;
        height: 44px;
        font-size: 12px;
    }
    .module-row {
        width: 300px;
        margin-bottom: 20px;
    }
    .module-item {
        height: 40px;
        width: 40px;
    }
}