.top {
  width: 100%;
  height: 85px;
  padding: 20px 0;
  background-color: #d1e5e9;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
}

.topRight {
  display: flex;
  /* flex: 3; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.topRight .exitBtn {
  color: red;
  cursor: pointer;
}

.topCenter {
  position: relative;
  max-width: 75%;
  margin: 0 auto;

  display: flex;
  flex: 16;
  justify-content: center;
}

.topCenter > * {
  margin: 0 20px;
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 596px) {
  .topCenter {
    max-width: 75%;
    justify-content: space-between;
  }

  .mobileMenu {
    position: absolute;
    display: flex;

    width: 100%;
    height: 70px;

    top: calc(100vh - 70px);
    justify-content: space-around;
    background-color: #d1e5e9;
  }
}

@media screen and (max-width: 400px) {
  .topCenter {
    max-width: 90%;
  }
  .mobileMenu > .menuItem {
    font-size: 20px;
  }
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

@media screen and (max-width: 596px) {
  .menuList {
    display: none !important;
  }
}

.topListItem {
  margin-right: 20px;
  cursor: pointer;
  font-family: "Epilogue", sans-serif;
}

.menuList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menuItem {
  font-size: 28px;
  margin-right: 4vw;

  display: flex;
  align-items: center;

  text-align: center;

  margin: 5px 10px;
}

.menuItem > a {
  display: block;
}

.menuItem:hover {
  color: #a2224c;
}

.topSearchIcon {
  font-size: 18px;
  color: #222;
  cursor: pointer;
  margin-left: 15px;
}

.logo {
  width: 58px;
  margin: 0 20px;
}
