.toHome {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    height: calc(100vh - 85px);
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    background-image: url(https://images.unsplash.com/photo-1507838153414-b4b713384a76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.toHome__opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgba(255, 255, 255, 0.8);
    /* тут */
}

.noOpacity {
    z-index: 2;
    padding-left: 14%;
    padding-right: 14%;
}

.home__header {
    margin-top: 28px;
    font-size: 50px;
}

.home__h2 {
    margin-top: 40px;
    font-size: 28px;
}

.home__maintext {
    margin-top: 60px;
}

.home__item {
    margin-bottom: 20px;
    font-size: 18px;
    max-width: 800px;
}

.home__footer {
    font-size: 16px;
    margin-top: 90px;
    font-weight: bolder;
    text-align: right;
}

@media screen and (max-width: 1300px) {
    .home__header {
        font-size: 42px;
    }
    .home__h2 {
        font-size: 22px;
    }
    .home__item {
        font-size: 16px;
    }
    .home__footer {
        font-size: 14px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 915px) {
    .home__header {
        font-size: 36px;
    }
    .home__h2 {
        font-size: 18px;
    }
    .home__maintext {
        margin-top: 43px;
    }
    .home__item {
        font-size: 14px;
    }
}

@media screen and (max-width: 840px) {
    .toHome {
        margin-top: 70px;
        height: calc(100vh - 70px);
    }
    .home__footer {
       text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .home__header {
        text-align: center;
    }
    .home__h2 {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .noOpacity {
        padding-left: 8%;
        padding-right: 8%;
    }
}