.text-note {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.question {
    margin-top: 20px;
    font-size: 24px;
}

.checkAnswer {
    margin-top: 12px;
    border: none;
    background-color: #e2e2e2;
    cursor: pointer;
    width: 300px;
    height: 60px;
    font-size: 18px;
    border-radius: 14px;
}

.answer {
    margin-top: 10px;
    font-size: 25px;
}

header {
    margin-top: 35px;
    font-size: 18px;
    max-width: 70%;
    color: gray;
}

footer {
    max-width: 90%;
    color: gray;
}

@media screen and (max-width: 840px) {
    .question {
        font-size: 18px;
    }
    .checkAnswer {
        width: 252px;
        font-size: 15px;
    }
    header {
        font-size: 14px;
        text-align: center;
    }
}


@media screen and (max-width: 400px) {
    .question {
        font-size: 14px;
    }
    .checkAnswer {
        width: 200px;
        height: 44px;
        font-size: 12px;
    }
}